<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>OAUTH Worked! yay</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
</head>
<body>
     <h1>OAuth Worked! yay</h1>
   <div id="tweets">
    {% for t in tweets %}
        <div id='tweet'>{{ t.text }}</div>
    {% endfor %}
    </div>
    <div id=footer>
	    brought to you by <a href="http://www.whichlight.com">whichlight</a><br>
    	    tell me what you make <a href="http://www.twitter.com/kawantum">here</a>
    </div>

</body>
</html>
